p{background-color: aquamarine;}

#p1{background-color: blueviolet;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 20%;}

#p2{color:aqua;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 24px;}

#p3{background-color: bisque;
font-family: 'Courier New', Courier, monospace;
font-size: 22px;}

.common{background-color: blue;}



body{background-color: rgb(255, 205, 233);}
