/* name: liang yu tze        SID: n01680521 */
 * {
    box-sizing: border-box;
}

/* header{
    padding: 30px;
    font-size: 2em;
    font-weight: 300;
    line-height: 100%;
} */

body{
    background-color: #222222;
    color: white;
    background-image: url(/images/spotlight.png);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation a{
    display: block;
    width: 25%;
    padding: 10px;
    margin: 5px;
    
}

.navigation li{
    background-color: rgb(205, 95, 167, 0.5) ;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 50px;
    box-shadow: 4px -2px 1px rgb(173, 132, 163);
    
}

.navigation{
    padding-top: 25px;
    
}

.content{
    width: 75%;
}

.column{
    float: left;
    margin: 10px;
}

footer{
    clear: both;
    display: block;
    width: 100%;
}

footer div{
    display: inline-block;
    width: 24%;
    vertical-align: top;
    padding: 100px;
}

.findShow{
    padding-left: 20px;
}

.shows{
    float: left;
    padding: 15px;
    width: 33%;
}

.explore{
    clear: left;
    /* padding: 20px; */
    padding-top: 80px;
    padding-left: 20px;
    /* display: flex; 
    padding: 20px;
    justify-content: space-between;  */
    
}

.years{
    float:left;
    width: 48%;
    padding: 20px;

    /* display: inline-block; 
    vertical-align: top; 
    width: 48%; 
    padding: 20px; */

    /* width: 48%; 
    padding: 20px; */
    
}

.takeClass{
    float: left;
    width: 48%;
    padding: 20px;
    /* display: inline-block; 
    vertical-align: top; 
    width: 48%; 
    padding: 20px; */

    /* width: 48%; 
    padding: 20px; */
    
}

li{
    list-style-type: none;
} 

.part1{
    padding: 20px;
}

.part2{
    /* padding: 20px; */
    padding-top: 80px;
    padding-left: 20px;
}



#copyright{
    text-align: center;
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.bar li {
    list-style-type: none;
    text-align: center; /* Center the list items */
    margin: 10px;
   
}

.bar li a {
    display: flex; /* Use flex display */
    justify-content: center; /* Horizontally center text */
    align-items: center; /* Vertically center text */
    padding: 10px 0; /* Add padding for larger clickable area */
    width: 100%; /* Make the link take full width of the parent li */
    height: 60px;
    
}

/* revise */
.logo{position: fixed;
    height: 50px;
    object-fit: cover;
    z-index: 10;
    left: 30px;
}

h1{letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 4em;
    color:aliceblue;
    text-shadow: 2px -3px 10px rgb(246, 60, 218);
    margin-bottom: 0;
    }

h1, h2{text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        clear: both;
    }

p{margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;}

header{margin-top: 80px;}
     
header,main{margin-left: 50px;
        margin-right: 50px;}

main{margin-top: 50px;}

nav a{display: inline-block;
    margin:10px 50px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover{color:rgb(223, 69, 184);
}
   
footer a:hover{color:rgb(223, 69, 184);
}

a:visited{color:aliceblue;
}

a{color: aliceblue;
    text-decoration: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subscribe{border: 1px solid rgb(223, 69, 184);
            border-radius: 3px;
            box-shadow: 4px -2px 1px rgb(173, 132, 163);
}

.top{
    position: fixed;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}

body{margin: 0;
    /* background-image: url(images/spotlight.png); */
    /* background img is generated by midjourny */
    color: aliceblue;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }